<div class="home_banner">
  <ul class="bxslider">
    <li><img src="assets/images/banner.jpg" alt="" class="img-responsive" /></li>
    <li style="display:none;"><img src="assets/images/banner.jpg" alt="" class="img-responsive" /></li>
  </ul>
  <div class="banner_text">
    <div class="title_banner"> <span class="title">AFP Corporate Training<br>
      Skills Assessment </span> Designed for team leads to analyze knowledge gaps.
      <div class="clearfix"></div>
      
     <a routerLink="/login" class="icon_btn" data-toggle="tooltip" data-placement="bottom" title="Sign In"><i class="fa fa-sign-in"></i></a>
		<a routerLink="/invitation" class="icon_btn" data-toggle="tooltip" data-placement="bottom" title="Registration"><i class="fa fa-user-plus"></i></a>
		 <a routerLink="/contactus/" class="icon_btn" data-toggle="tooltip" data-placement="bottom" title="Contact us"><i class="fa fa-phone"></i></a>
     </div>
  </div>
</div>


