<div class="inner_content error-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>AFP Corporate Training Skills Assessment</h2>
       <h1 class="error-code">Oops!</h1>
		   <h2 class="error-text">We can't seem to find the page you're looking for.</h2>
            <div class="error-subtext">Error Code: 400</div>
		 	<ul class="list-unstyled">
				<li class="extra-text">Here are some helpful links instead:</li>
				<li><a routerLink="/dashboard">Home</a></li>
      		</ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>